/** Variáveis de CSS */
:root {
    --bg-color: #E0E0E0; 
    --primary-color: #84CD7B;
}

body {
    background: var(--bg-color); 
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

@import './header.css';
@import './messages.css';